/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-light";
  src: url("/fonts/Roboto/Roboto-Lights.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}




/* VARIABLES */
:root {
    --bg-color: #ffffff;
    --bg-header: #6d6d6d;

    --text-main: #1a1a1a;
    --text-header: #f3f3f3;

    --bg-hero: #a0a0a0;

    --font-400: 'Roboto', helvetica, sans-serif;
    --font-300: 'Roboto-light', helvetica, sans-serif;
    --font-700: 'Roboto-bold', helvetica, sans-serif;

}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    color: var(--text-main);
    font-size: 62.5%;
    font-family: var(--font-400);
  }
  
  body {
    min-height: 100vh;
    font-size: 1.6rem;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: var(--text-main);
  }

  h1,h2,h3,h4,h5,h6{
    font-family: var(--font-700);
  }

  ul {
    list-style-type: none;
  }

  img {
    width: 100%;
  }

/* MAIN LAYOUT */
/* FORCES FOOTER TO STAY AT THE BOTTOM OF THE SCREEN NOT MATTER HOW MUCH OR LITTLE CONTENT IS IN THE MAIN */
 
  .content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  /* UTILITY CLASSES */
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .link-active {
    color: var(--text-header);
  }

  .btn {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 1.75rem;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    color: var(--text-header);
    background-color: var(--text-main);
    border: 2px solid var(--text-main);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: var(--text-header);
    color: var(--accent);
    border: 2px solid var(--text-main);
  }

  /* HEADER */
.header-wrapper {
  background-color: var(--bg-header);
  width: 100%;
  height: 75px;
}

.main-nav ul {
  display: flex;
}

/* MAIN */
.main {
  background-color: var(--bg-hero);
}

/*******************
  HERO SECTION 
*******************/
.hero {
  width: 95%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 5rem;
}

.hero h1 {
  font: var(--font-300);
  font-size: 10rem;
  /* margin-bottom: 2rem; */
}

.hero h2 {
  font: var(--font-300);
  font-size: 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 770px) {
  .hero h1 {
    font-size: 8rem;
  }

  .hero h2 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 6rem;
  }

  .hero h2 {
    font-size: 2.6rem;
  }
}

.button-container {
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 500px) {
  .button-container {
    flex-direction: column;
    align-items: flex-start;
  }
}


/*******************
  PROJECTS GRID AND CARD
*******************/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.projects-card {
  position: relative;
  overflow: hidden;
}

.projects-card-img {
  height: 100%;
}

.projects-card-img:hover {
  transform: scale(1.5);
}

.projects-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: var(--text-header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.projects-card-overlay > * {
  transform: translateY(40px);
  transition: transform 0.25s ease-out;
}

.projects-card-overlay:hover {
  opacity: 1;
}

.projects-card-overlay:hover > * {
  transform: translateY(0);
}

.projects-card-title {
  font-size: 4.2rem;
  margin-bottom: 1.4rem;
}

.projects-card-text {
  font-size: 2.4rem;
}








  /* FOOTER */
  
